@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  50% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
}

.animate-spin-custom {
  animation: spin infinite 10s;
}
